body {
  padding: 1rem;
  font-family: sans-serif;
}

.drop-area {
  padding: 1.1875rem 1rem;
  display: grid;
  place-items: center;
  gap: 1rem;
  border: 2px dashed red;
  border-radius: 12px;
}

.drop-area__over {
  outline: 2px solid green;
  outline-offset: 2px;
  border-radius: 12px;
}

.drop-area__thumb {
  --thumb-size: 50px;
  height: var(--thumb-size);
  width: var(--thumb-size);
  border: 1px solid blue;
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
}

.drop-area__prompt:empty {
  display: none;
}

.drop-area__input {
  display: none;
}
